body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin-right: 100px;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

form {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    opacity: 0.8;
    
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ededed;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}