body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 94vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    background-color: #000000;
    padding: 20px 30px;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-left: 65px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fffafa;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    font-weight: normal;
}


input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 5px 5px 5px 0;
}

